html,
body,
main {
  background-color: var(--color-bg-main) !important;
  color: var(--color-text-main) !important;
}

.bg-purple {
  background-color: var(--color-purple) !important;
  color: var(--color-white) !important;
}

.text-active {
  color: var(--color-purple) !important;
}

.btn-active {
  background-color: var(--color-purple) !important;
  color: var(--color-white) !important;
  border: 1px solid var(--color-purple) !important;
}

.btn-inactive {
  background-color: var(--color-white) !important;
  color: var(--color-purple) !important;
  border: 1px solid var(--color-purple) !important;
}

.card {
  background-color: var(--color-bg-sub) !important;
  color: var(--color-text-sub) !important;
}

footer,
header nav {
  background-color: var(--color-bg-nav) !important;
  color: var(--color-text-nav) !important;
}

.store-categories {
  background-color: var(--color-bg-nav) !important;
  color: var(--color-text-nav) !important;
}
