html[dir='ltr'] {
  --font-family:
    var(--font-roboto), 'Times New Roman', system-ui, sans-serif !important;
  direction: ltr !important;
  text-align: left !important;
}

html[dir='rtl'] {
  --font-family: var(--font-vazirmatn), 'IRANSans', sans-serif !important;
  direction: rtl !important;
  text-align: right !important;
}

html[dir='rtl'] .currency-font {
  font-family:
    var(--font-asiatech), var(--font-vazirmatn), 'IRANSans', sans-serif !important;
}

html[dir='ltr'] .share-tech-font {
  font-family: var(--font-share-tech) !important;
}

html[dir='rtl'] .asiatech-font {
  font-family: var(--font-asiatech) !important;
}

.asiatech-font {
  word-spacing: 0.3rem;
}

.small {
  font-size: smaller;
}
