html[dir='ltr'] {
  --font-family:
    var(--font-roboto), 'Times New Roman', system-ui, sans-serif !important;
  direction: ltr !important;
  text-align: left !important;
}

html[dir='rtl'] {
  --font-family: var(--font-vazirmatn), 'IRANSans', sans-serif !important;
  direction: rtl !important;
  text-align: right !important;
}

html[dir='rtl'] .currency-font {
  font-family:
    var(--font-asiatech), var(--font-vazirmatn), 'IRANSans', sans-serif !important;
}

html[dir='ltr'] .share-tech-font {
  font-family: var(--font-share-tech) !important;
}

html[dir='rtl'] .asiatech-font {
  font-family: var(--font-asiatech) !important;
}
.asiatech-font {
  word-spacing: 0.3rem;
}

.h0,
.fs-0 {
  font-size: calc(var(--font-size-base) * 2.5) !important;
}
h1,
.h1,
.fs-1 {
  font-size: calc(var(--font-size-base) * 2) !important;
}
h2,
.h2,
.fs-2 {
  font-size: calc(var(--font-size-base) * 1.5) !important;
}
h3,
.h3,
.fs-3 {
  font-size: calc(var(--font-size-base) * 1.2) !important;
}
h4,
.h4,
.fs-4 {
  font-size: calc(var(--font-size-base) * 1) !important;
}
h5,
.h5,
.fs-5 {
  font-size: calc(var(--font-size-base) * 0.85) !important;
}
h6,
.h6,
.fs-6 {
  font-size: calc(var(--font-size-base) * 0.7) !important;
}
.h7,
.fs-7 {
  font-size: calc(var(--font-size-base) * 0.65) !important;
}
.h8,
.fs-8 {
  font-size: calc(var(--font-size-base) * 0.6) !important;
}
.h9,
.fs-9 {
  font-size: calc(var(--font-size-base) * 0.55) !important;
}
.h10,
.fs-10 {
  font-size: calc(var(--font-size-base) * 0.5) !important;
}

.big-number {
  font-size: 1.6rem;
  font-weight: 700;
}

.small {
  font-size: smaller;
}
