@import './fonts.css';
@import './colors.css';
@import './tailwind.css';

:root {
  --header-height: 66px;
  --font-family: 'sans-serif';
  --font-size-base: 1rem;

  --color-white: #fff;
  --color-purple: #560356;
  /* main colors */
  --color-bg-main: #e7cbcb;
  --color-text-main: #643843;

  --color-bg-sub: var(--color-white);
  --color-text-sub: #6e0a82;

  --color-bg-nav: var(--color-purple);
  --color-text-nav: var(--color-white);

  /* gradiant */

  /* z-index */
  --zindex-loader: 9999999;
  --zindex-modal-backdrop: 1050 !important;
  --zindex-modal: 1055 !important;
  --zindex-offcanvas: 1060 !important;
  --zindex-footer: 1000 !important;
  --zindex-nav: 1030 !important;
  --zindex-scrollbar: 2000 !important;
}

html,
body {
  font-family: var(--font-family) !important;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  line-height: 1.7;
}

.modal-backdrop {
  z-index: var(--zindex-modal-backdrop) !important;
}
.modal {
  z-index: var(--zindex-modal) !important;
}

nav,
.navbar {
  z-index: var(--zindex-nav) !important;
}

footer {
  z-index: var(--zindex-footer) !important;
}

header {
  margin-bottom: var(--header-height) !important;
}

header nav {
  height: var(--header-height) !important;
}

.main-h-full {
  height: calc(100vh - var(--header-height));
}

.dir-ltr {
  direction: ltr !important;
}

.dir-rtl {
  direction: rtl !important;
}

a {
  color: none !important;
  text-decoration: none !important;
}

.btn {
  border-radius: 8px;
}

.cursor-pointer {
  cursor: pointer !important;
}

input[type='password']::-ms-reveal,
input[type='password']::-webkit-credentials-auto-fill-button {
  display: none;
}

select:focus,
input:focus {
  box-shadow: none !important;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.opacity-10 {
  opacity: 0.1 !important;
}

.opacity-80 {
  opacity: 0.8 !important;
}

.opacity-90 {
  opacity: 0.9 !important;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.hide-scrollbar {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  z-index: var(--zindex-scrollbar);
  width: 0.8rem !important;
}

@media (max-width: 768px) {
  body::-webkit-scrollbar {
    width: 0.7rem !important;
  }
}
@media (max-width: 576px) {
  body::-webkit-scrollbar {
    width: 0.6rem !important;
  }
}

body::-webkit-scrollbar-track {
  background-color: var(--color-white) !important;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-nav) !important;
}

.text-ellipsis {
  display: -webkit-box;
  line-clamp: 10;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.blurred {
  filter: blur(6px);
  -webkit-filter: blur(6px);
  user-select: none;
}

.num-align {
  font-variant-numeric: tabular-nums;
  font-feature-settings: 'tnum';
  unicode-bidi: plaintext;
}

.marquee-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquee-track {
  display: inline-flex;
  gap: 2rem;
  white-space: nowrap;
  will-change: transform;
}

select.form-select {
  background-image: url('data:image/svg+xml,<svg ...>');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1em auto;
}

.card {
  background-color: white;
  padding: 16px 20px;
}

.card-header,
.card-title,
.card-header-sm,
.card-title-sm {
  margin-bottom: 8px;
}
